<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Teris - Responsive App Landing Page</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic">
        <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/assets/css/buttons.css">
        <link rel="stylesheet" href="static/assets/css/style.css">
        <link rel="stylesheet" href="static/assets/css/dropzone.css">
        <link rel="stylesheet" href="static/assets/css/media-queries.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="static/assets/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="static/assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                      <div id="dropzone">
                        <form action="upload" class="dropzone" id="demo-upload">
                            <div class="dz-message">Drop files here or click to upload.</div>
                        </form>
                      </div>
                    	<!-- <div class="col-sm-5 phone">
                        <form action="upload" class="dropzone"></form>

                        <img src="static/assets/img/iphone-1.png" alt="">
                      </div> -->
                        <div class="col-sm-7 text">
                            <h1>Teris App is now ready. <br>Go get it!</h1>
                            <div class="description">
                            	We have been working very hard to design the new version of our app.
                            	Finally it's ready. It comes with a lot of new features. Check it out!
                            </div>
                            <div class="top-button">
                            	<a class="button-1" href="#">
                            		<span class="button-1-left"><i class="fa fa-mobile"></i></span>
                            		<span class="button-1-right">
                            			<span class="button-1-right-top">Available on the</span>
                            			<span class="button-1-right-bottom">App Store</span>
                            		</span>
                            	</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Features -->
        <div class="features-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 features">
	                    <h2>What makes it special</h2>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-eye"></i>
	                	</div>
	                    <h3>Easy To Use</h3>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et.
	                    </p>
	                </div>
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-table"></i>
	                	</div>
	                    <h3>Responsive Layout</h3>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et.
	                    </p>
	                </div>
	                <div class="col-sm-4 features-box-1">
	                	<div class="features-box-1-icon">
	                		<i class="fa fa-pencil"></i>
	                	</div>
	                    <h3>Awesome Design</h3>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et.
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h2>Easy to use</h2>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-7 single-feature-img-description">
	                    <p>
	                    	<strong>Ut wisi enim ad minim veniam, quis nostrud exerci tation</strong> <br>
	                    	Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
	                    	Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
	                    </p>
	                    <p>
	                    	<strong>Vel illum dolore eu feugiat nulla facilisis at vero eros</strong> <br>
	                    	Et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
	                    </p>
	                    <p>
	                    	<strong>Nam liber tempor cum soluta nobis eleifend option congue</strong> <br>
	                    	Nihil imperdiet doming id quod mazim placerat facer possim assum.
	                    	Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
	                    </p>
	                </div>
	                <div class="col-sm-5 single-feature-img">
	                    <img src="static/assets/img/iphone-2.png" alt="">
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Single feature -->
        <div class="single-feature-container single-feature-no-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h2>Responsive layout</h2>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
	                    	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-sm-5 single-feature-img">
	                    <img src="static/assets/img/iphone-3.png" alt="">
	                </div>
	                <div class="col-sm-7 single-feature-img-description">
	                    <p>
	                    	<strong>Ut wisi enim ad minim veniam, quis nostrud exerci tation</strong> <br>
	                    	Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
	                    	Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
	                    </p>
	                    <p>
	                    	<strong>Vel illum dolore eu feugiat nulla facilisis at vero eros</strong> <br>
	                    	Et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
	                    </p>
	                    <p>
	                    	<strong>Nam liber tempor cum soluta nobis eleifend option congue</strong> <br>
	                    	Nihil imperdiet doming id quod mazim placerat facer possim assum.
	                    	Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
	                    </p>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Single feature -->
        <div class="single-feature-container single-feature-bg">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 single-feature-text">
	                    <h2>Awesome design</h2>
	                    <p>
	                    	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
	                    	labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-7 single-feature-img-description">
	                    <p>
	                    	<strong>Ut wisi enim ad minim veniam, quis nostrud exerci tation</strong> <br>
	                    	Ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
	                    	Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
	                    </p>
	                    <p>
	                    	<strong>Vel illum dolore eu feugiat nulla facilisis at vero eros</strong> <br>
	                    	Et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
	                    </p>
	                    <p>
	                    	<strong>Nam liber tempor cum soluta nobis eleifend option congue</strong> <br>
	                    	Nihil imperdiet doming id quod mazim placerat facer possim assum.
	                    	Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.
	                    </p>
	                </div>
	                <div class="col-sm-5 single-feature-img">
	                    <img src="static/assets/img/iphone-2.png" alt="">
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Call to action -->
        <div class="call-to-action-container">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12 call-to-action-text">
	                    <h2>Download it now</h2>
	                    <p>
	                    	Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
	                    	aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud exercitation.
	                    </p>
	                    <div class="call-to-action-button">
                            <a class="button-1" href="#">
                            	<span class="button-1-left"><i class="fa fa-mobile"></i></span>
                            	<span class="button-1-right">
                            		<span class="button-1-right-top">Get it on the</span>
                            		<span class="button-1-right-bottom">App Store</span>
                            	</span>
                            </a>
                        </div>
	                </div>
	            </div>
	        </div>
        </div>

        <!-- Footer -->
        <footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-12">
	                    <div class="footer-social">
	                    	<a class="social social-facebook" href=""><i class="fa fa-facebook"></i></a>
	                    	<a class="social social-twitter" href=""><i class="fa fa-twitter"></i></a>
	                    	<a class="social social-pinterest" href=""><i class="fa fa-pinterest"></i></a>
	                    </div>
	                    <div class="footer-copyright">
	                    	&copy; Teris Bootstrap Template by <a href="http://azmind.com">Azmind</a>.
	                    </div>
	                </div>
	            </div>
	        </div>
        </footer>


        <!-- Javascript -->
        <script src="static/assets/js/jquery-1.10.2.min.js"></script>
        <script src="static/assets/js/jquery.backstretch.min.js"></script>
        <script src="static/assets/js/retina-1.1.0.min.js"></script>
        <script src="static/assets/js/dropzone.js"></script>
        <script>
          jQuery(document).ready(function() {
              /* Fullscreen background */
              $('.top-content').backstretch("static/assets/img/backgrounds/1.jpg");
              $('.single-feature-bg').backstretch("static/assets/img/backgrounds/1.jpg");
          });
        </script>

    </body>

</html>
